#nav{
	width:10%;
	height: 800px;
	background-color: #fff;
	float:left;
}
#nav ul li {
	height:70px;
	
}
#board{
	padding:10px;
	width:68%;
	height: 800px;
	background-color: #b9f2f7;
	float:left;
	overflow: scroll;
}

#section{
	width:18%;
	height: 800px;
	background-color: #fff;
	float:right;
}
#section #text-voice{
	width:100%;
	height: 700px;
	background-color: orange;
}
input{
	width:100%;
	height: auto;
}
#section #voice{
	width:100%;
	height: 100px;
	background-color: #99f7f9;
}