/* 전체 적용 */
* {
	padding: 0;
	margin: 0;
}

/* 바디 전체 적용 바디부분 */
body {
	padding: 0;
	margin: 0;
	font-family: 'Fira Sans', Light-300;
	letter-spacing: 2px;
}

/* 텍스트 드래그 했을때 색깔 변화 */
::selection {
				background-color: rgb(248, 112, 97);
				color: white;
			}

/* 맨 위 추천 순위 1 ~ 10 */
#ranking {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 9pt;
	text-align: center;
	vertical-align: middle;
	color: white;
	/* background-color: rgb(15, 77, 129); */
	background-color: rgb(248, 112, 97);
}

/* 부모태그 display: flex; */
.div {
	display: flex;
	width: 100%;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	border-bottom: 1px solid #d9d9d9;
	background-color: white;
}

/* 자식태그 class = "child1" */
.child1 {
	flex: 1;
}

/* 자식태그 class = "child2" */
.child2 {
	flex: 2;
}

/* 자식태그 class = "child3" */
.child3 {
	flex: 3;
	text-align: center;
}

/* 마이페이지 아이콘 */
#mypage {
	width: 30px;
	height: 48%;
	vertical-align: middle;
}
/* 마이페이지 a 태그 텍스트 */
#mypageTxt {
	font-size: 9pt;
}
/* 마이페이지 호버했을때 튀어나오는 토끼 아이콘 */
#rabitRunning {
	width: 40px;
	height: 60%;
	vertical-align: middle;
}
/* 장바구니 아이콘 */
#mybag {
	width: 20px;
	height: 40%;
	vertical-align: middle;
}

#mybagTxt {
	font-size: 9pt;
}
/* 마이페이지 + 장바구니 오른쪽 정렬 */
#mypage_mybag {
	text-align: right;
}
/* 로그인 + 사인업 오른쪽 정렬 */
#login_signup {
	text-align: right;
	font-size: 10pt;
}
/* 로고 아이콘 */
#logo {
	width: 110px;
	height: 50px;
	text-align: left;
}
/* 검색 아이콘 */
#search {
	width: 15px;
	text-align: right;
	vertical-align: middle;
}
/* 검색 사진 아이콘 */
#search_image {
	width: 15px;
	text-align: right;
	vertical-align: middle;
}
/* 검색창 div 테두리 */
#searchBox {
	border-right: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
}
/* 검색 input 태그 */
input {
	border: none;
	width: 80%;
	text-align: center;
	font-family: 'Fira Sans', Light-300;
	letter-spacing: 2px;
}
/* 검색 태그 눌렀을때 아웃라인 */
input:focus {
	outline: none;
}



/* a 태그 */
#ranking:link {
	color: white;
	text-decoration: none;
}

#ranking:visited {
	color: white;
	text-decoration: none;
}

#login:link {
	cursor: pointer;
	color: black;
	text-decoration: none;
	text-align: right;
}

#login:visited {
	cursor: pointer;
	color: black;
	text-decoration: none;
	text-align: right;
}

#login:hover {
	cursor: pointer;
	color: black;
	text-decoration: underline;
}

#signUp:link {
	cursor: pointer;
	color: black;
	text-decoration: none;
	text-align: right;
}

#signUp:visited {
	cursor: pointer;
	color: black;
	text-decoration: none;
	text-align: right;
}

#signUp:hover {
	cursor: pointer;
	color: black;
	text-decoration: underline;
}

/* .menuList:link {
	color: black;
	text-decoration: none;
}

.menuList:visited {
	color: black;
	text-decoration: none;
} */

#mypageTxt:link {
	color: black;
	text-decoration: none;
}

#mypageTxt:visited {
	color: black;
	text-decoration: none;
}

#mypageTxt:hover {
	color: black;
	text-decoration: underline;
}

#mybagTxt:link {
	color: black;
	text-decoration: none;
}

#mybagTxt:visited {
	color: black;
	text-decoration: none;
}

#mybagTxt:hover {
	color: black;
	text-decoration: underline;
}

/* 토끼 뛰는 효과 */
.parent {
	display: flex;
}

.container1 {
	flex: 2;
}

.container2 {
	flex: 1;
}

.container1 {
	position: relative;
	vertical-align: middle;
	width: 50%;
	height: 49px;
	text-align: right;
}

.image {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 70%;
	right: 0;
	background-color: white;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .3s ease;
}

.container1:hover .overlay {
	width: 50%;
	left: 0;
}

.rabitRunning {
	white-space: nowrap;
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/* 스크롤할때 헤더 효과 */
header {
	position: sticky;
	z-index: 9999;
	top: 0;
}

/* footer 하단바 */
/* .footer {
	font-size: 10px;
	background-color: white;
	border-top: 1px solid #d9d9d9;
	height: 60px;
	line-height: 60px;
	display: flex;
	justify-content: center;
  	align-items: center;
	font-family: 'Fira Sans', Light-300;
	letter-spacing: 2px;
	margin-top: 50px;
}

.footer_left_box {
	flex: 0.5;
}

.footer_center_box {
	flex: 5;
	text-align: left;
} */

/* 검색 기능 팝업 pop up */
#tooltip {
	position: absolute;
	z-index: 999;
	color: white;
	text-align: center;
	font-size: 15px;
}

#tooltip .tipBody {
	background-color: black;
	padding: 8px;
	border-bottom-right-radius: 17px;
	border-bottom-left-radius: 17px;
	border-top-right-radius: 17px;
}

/* login ajax로 불러오는 부분 */
#loginPage {
	position: absolute;
	float: left;
	left: 0px;
	top: 0px;
	width: 39%;
	resize: vertical;
	z-index: 9999;
	color: white;
}

/* h3 About Us */
/* h3{
	margin-top: 50px;
	text-align: center;
	font-family: 'Fira Sans', Light;
	letter-spacing: 2px;
} */

/* contents 헤더 푸터 중간 컨텐츠	 */
/* #contents{
	position: sticky;
} */
