<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<!-- enviroment는 Spring이 applicationContext에서 알아서 설정해줄거에요. -->

	<typeAliases>
		<typeAlias type="com.idea.mmh.model.dto.MindDto" alias="mindDto"/>
		<typeAlias type="com.idea.mmh.model.dto.NoteDto" alias="noteDto"/>
		<typeAlias type="com.idea.mmh.model.dto.PoitDto" alias="poitDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/mind-mapper.xml"/>
		<mapper resource="/mybatis/note-mapper.xml"/>
		<mapper resource="/mybatis/poit-mapper.xml"/>
	</mappers>
	
<!--  settings태그에 setting 프로퍼티를 추가하면 
           매퍼에서 jdbcType=VARCHAR와 같은 처리를 매번 해주지 않아도 된다네요.
                     ※근데 지금은 configuration에서 ERROR표기되어 주석처리함
                     
             	       정보 출처 : https://haenny.tistory.com/22

	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
-->
</configuration>
