<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<!-- enviroment는 Spring이 applicationContext에서 알아서 설정해줄거에요. -->

	<typeAliases>
		<typeAlias type="com.idea.mmh.model.dto.MindDto" alias="mindDto"/>
		<typeAlias type="com.idea.mmh.model.dto.NoteDto" alias="noteDto"/>
		<typeAlias type="com.idea.mmh.model.dto.PoitDto" alias="poitDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/mind-mapper.xml"/>
		<mapper resource="/mybatis/note-mapper.xml"/>
		<mapper resource="/mybatis/poit-mapper.xml"/>
	</mappers>
</configuration>
