<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<!-- enviroment는 Spring이 applicationContext에서 알아서 설정해줄거에요. -->

<!-- config파일 작성 시 태그 순서를 지켜주세요
properties?, 
settings?, 
typeAliases?, 
typeHandlers?, 
objectFactory?, 
objectWrapperFactory?, 
reflectorFactory?, 
plugins?, 
environments?,
databaseIdProvider?, 
mappers? 

-->

<!-- settings태그에 setting 프로퍼티를 추가하면 
           매퍼에서 jdbcType=VARCHAR와 같은 처리를 매번 해주지 않아도 된다네요.       
             	       정보 출처 : https://haenny.tistory.com/22
-->
	<!--  null값과 false가 들어갈 수 있게 허용해주는 setting -->
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.idea.mmh.model.dto.NoteDto" alias="noteDto"/>
		<typeAlias type="com.idea.mmh.model.dto.PoitDto" alias="poitDto"/>
		<typeAlias type="com.idea.mmh.register.dto.MemberDto" alias="memberDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/note-mapper.xml"/>
		<mapper resource="/mybatis/poit-mapper.xml"/>
		<mapper resource="/mybatis/register-mapper.xml"/>
	</mappers>

</configuration>
