<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="note">
  
  <resultMap type="noteDto" id="noteMap">
  	<result property="opno" column="O_P_NO"/>
  	<result property="nno" column="N_NO"/>
  	<result property="ntitle" column="N_TITLE"/>
  	<result property="nwriter" column="N_WRITER"/>
  	<result property="ncontent" column="N_CONTENT"/>
  </resultMap>
  
  
  <select id="selectList" resultMap="noteMap">
  	SELECT O_P_NO, N_NO, N_TITLE, N_WRITER, N_CONTENT
  	FROM MMH_NOTE
  	ORDER BY O_P_NO DESC
  </select>
  
  <select id="selectOne" parameterType="int" resultMap="noteMap">
  	SELECT O_P_NO, N_NO, N_TITLE, N_WRITER, N_CONTENT FROM MMH_NOTE WHERE N_NO=#{nno}
  </select>
  
  <!-- 게시판 insert -->
  <insert id="insert" parameterType="noteDto">
    <selectKey keyProperty="nno" order="BEFORE" resultType="int">
		SELECT MMH_NOTE_SEQ.NEXTVAL FROM DUAL
	</selectKey>
  	INSERT INTO MMH_NOTE  (O_P_NO, N_NO, N_TITLE, N_WRITER, N_CONTENT) 
  	VALUES(450, #{nno}, #{ntitle}, #{nwriter}, #{ncontent})
  </insert>
  
  <update id="update" parameterType="noteDto">
  	UPDATE MMH_NOTE SET N_TITLE = #{ntitle}, N_WRITER = #{nwriter}, N_CONTENT = #{ncontent}  
  	WHERE N_NO = #{nno}, 
  </update>
  
  <delete id="delete" parameterType="int">
  	DELETE FROM MMH_NOTE WHERE N_NO=#{nno} 
  </delete>
</mapper>