<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="poit">
  
  <resultMap type="poitDto" id="poitMap">
  	<result property="opno" column="O_P_NO"/>
  	<result property="pono" column="PO_NO"/>
  	<result property="pogridid" column="PO_GRIDID"/>
  	<result property="pocontent" column="PO_CONTENT"/>
  	<result property="powidth" column="PO_WIDTH"/>
  	<result property="poheight" column="PO_HEIGHT"/>
  	<result property="potop" column="PO_TOP"/>
  	<result property="poleft" column="PO_LEFT"/>
  	<result property="poz" column="PO_Z"/>
  </resultMap>
  
  
  <select id="selectList" resultMap="poitMap">
  	SELECT O_P_NO, PO_NO, PO_GRIDID, PO_CONTENT, PO_WIDTH, PO_HEIGHT, PO_TOP, PO_LEFT, PO_Z
  	FROM MMH_POIT
  	ORDER BY O_P_NO DESC
  </select>
  
  <select id="selectOne" parameterType="int" resultMap="poitMap">
  	SELECT O_P_NO, PO_NO, PO_GRIDID, PO_CONTENT, PO_WIDTH, PO_HEIGHT, PO_TOP, PO_LEFT, PO_Z FROM MMH_POIT WHERE O_P_NO=#{opno}
  </select>
  
  <insert id="insert" parameterType="poitDto">
  	INSERT INTO MMH_POIT VALUES(O_P_NO, #{pono}, #{pogridid}, #{pocontent}, #{powidth}, #{poheight}, #{nwidth}, #{poheight}, #{potop}, #{poleft}, #{poz})
  </insert>
  
  <update id="update" parameterType="poitDto">
  	UPDATE MMH_POIT SET PO_WIDTH = #{powidth}, PO_HEIGHT = #{poheight}, PO_TOP=#{potop}, PO_LEFT=#{poleft}, PO_Z=#{poz} 
  	WHERE O_P_NO = #{opno} 
  </update>
  
  <delete id="delete" parameterType="int">
  	DELETE FROM MMH_POIT WHERE O_P_NO=#{opno} 
  </delete>
</mapper>