<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sample">

	<resultMap type="memberDto" id="memberMap">
		<result property="m_no" column="M_NO" />
		<result property="m_id" column="M_ID" />
		<result property="m_pw" column="M_PW" />
		<result property="m_name" column="M_NAME" />
		<result property="m_email" column="M_EMAIL" />
		<result property="m_address" column="M_ADDRESS" />
		<result property="m_address2" column="M_ADDRESS2" />
		<result property="m_join" column="M_JOIN" />
		<result property="m_grade" column="M_GRADE" />
	</resultMap>
	<select id="selectList" resultMap="memberMap">
		SELECT 
			M_NO, M_ID, M_PW, M_NAME, M_EMAIL, M_ADDRESS, M_ADDRESS2, M_JOIN, M_GRADE
		FROM 
			MMH_MEMBER
		ORDER BY M_NO DESC
	</select>

	<select id="selectOne" resultMap="memberMap" parameterType="int">
		SELECT 
				M_NO, M_ID, M_PW, M_NAME, M_EMAIL, M_ADDRESS, M_ADDRESS2, M_JOIN, M_GRADE
		FROM 
			MMH_MEMBER
		WHERE 
			M_NO = #{m_no}
	</select>

	<insert id="insert" parameterType="memberDto">
		INSERT INTO 
					MMH_MEMBER
		VALUES(
				MMH_MEMBER_SEQ.NEXTVAL, #{m_id}, #{m_pw}, #{m_name}, #{m_email}, #{m_address}, 'Y', 'A', #{m_address2})
	</insert>

	<update id="update" parameterType="memberDto">
		UPDATE 
			MYBOARD
		SET 
			MYNAME = #{myname}, MYTITLE= #{mytitle}, MYCONTENT= #{mycontent}, MYDATE =
		SYSDATE
		WHERE 
		MYNO = #{myno}
	</update>

	<delete id="delete" parameterType="int">
		DELETE 
			MMH_MEMBER
		WHERE
			M_NO=#{m_no}
	</delete>


	<select id="idCheck" resultMap="memberMap">
			SELECT M_ID FROM MMH_MEMBER
			WHERE M_ID = #{m_id}
	</select>

	<select id="login" parameterType="memberDto" resultType="memberDto">
		SELECT M_NO, M_ID, M_PW, M_NAME, M_EMAIL, M_ADDRESS, M_JOIN, M_GRADE, M_ADDRESS2
		FROM MMH_MEMBER
		WHERE M_ID = #{m_id}
		AND M_PW = #{m_pw}
	</select>

	<select id="selectmember" parameterType="String" resultType="memberDto">
		SELECT M_NO, M_ID, M_PW, M_NAME, M_EMAIL, M_ADDRESS, M_JOIN, M_GRADE, M_ADDRESS2
		FROM MMH_MEMBER
		WHERE M_ID = #{m_id}
	</select>
	
	<update id="updatemember" parameterType="memberDto">
		UPDATE MMH_MEMBER
		SET M_NAME = #{m_name}, M_ADDRESS = #{m_address}, M_JOIN = #{m_join }
		WHERE M_ID = #{m_id}
	</update>



</mapper>
