@charset "UTF-8";

/* *{margin:0;padding:0;vertical-align:top;border:0;color: white;} */
html,body{width:100%;height:100%;}
html{overflow-y:scroll;overflow-x:hidden;}
html.addModal{overflow-y:hidden;overflow-x:hidden;}

ul{list-style-type:none;}
i,em,address{font-style:normal;}

.floatclear:after{content:'';display:block;clear:both;}
.hidden{display:none;}
.blind{display:block;text-indent:-2000px;overflow:hidden;}